/* cores */
:root {
    --cinza-color: #363636;
    --cinza-claro-1: #D9D9D9;
    --cinza-claro-2: #7A7A7A;
    --cinza-medio: #4F4F4F;
    --cinza-escuro-1: #202223;
    --cinza-escuro-2: #151617;
    --cinza-escuro-nav: #303030;
    --fonte-figtree: "Figtree", sans-serif;
    --fonte-bebas: "Bebas Neue", sans-serif;
    --fonte-anton: "Anton", sans-serif;
}

/*Padroes para tela*/
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.titulo-container {
    width: 100vw;
    height: 14vh;
    /* background-color: rgb(0, 115, 255); */
    padding: 1% 3%;
    display: flex;
    align-items: center;
}

.titulo-container h1 {
    color: #000000;
    font-family: var(--fonte-anton);
    font-size: 70px;
    font-weight: 300;
    margin: 0;
}

.d {
    display: none;
}

/*navbar*/
/* background-color: rgb(26, 255, 0); */
nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    z-index: 999;
}

.navbar {
    background-color: var(--cinza-escuro-nav);
    backdrop-filter: blur(5px);
    width: 90%;
    height: 4rem;
    border-radius: 20px;
    padding: 0% 2%;
    display: flex;
    font-family: var(--fonte-figtree);
}

.navbar a {
    text-decoration: none;
    outline: none;
    color: white;
}

.navbar .logo {
    display: flex;
    align-items: center;
    height: 100%;
    width: 20%;
}

.navbar .logo div {
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 5px;
}

.navbar .logo img {
    height: 100%;
    margin: 5px;
}

.navbar #logo-nome-img{
    visibility: hidden;
    overflow: hidden;
}

#logo-img:hover + #logo-nome-img {
    visibility: visible;
    cursor: pointer;
    /* animation: animation-logo 1s; */
    transition: 0.5s;
}



.navbar .links {
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.navbar .links a {
    margin: 0px 10px;
    transition: 0.2s;
}

.navbar .links a:hover {
    color: var(--cinza-claro-1);
}

.navbar .acessos {
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .acessos a {
    height: 60%;
    width: 40%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.navbar .acessos a:hover {
    background-color: var(--cinza-medio);
}

.navbar .acessos div {
    width: 2px;
    height: 60%;
    background-color: white;
}

/*Banner*/
.fundo-banner {
    width: 100vw;
    height: 100vh;
    padding: 2%;
    display: flex;
    align-items: center;
    background-color: var(--cinza-escuro-2);
}

.fundo-banner p {
    font-size: 400px;
    font-family: var(--fonte-bebas);
    color: var(--cinza-color);
}

.frente-banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    padding: 1% 5%;
}

.frente-banner .escrita-banner {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 15%;
}

.frente-banner .escrita-banner p {
    font-family: var(--fonte-bebas);
    color: #FFF;
    font-size: 50px;
}


/*Explore*/
.explore {
    overflow: hidden;
}

.explore .efeito {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.explore .efeito img {
    width: 1100px;
    margin: 0px 0px -30px -30px;
}

.explore .container {
    position: absolute;
    display: flex;
    flex-direction: column;

}

.explore .area-card {
    width: 100%;
    height: 30%;
    padding: 0% 5%;
    display: flex;
}

.explore .card {
    width: 300px;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(196, 196, 196, 0.714);
    backdrop-filter: blur(2px);
    margin-right: 30px;
}

.explore .card .icons {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.explore .card .icons .logos {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    border: solid 2px black;
    overflow: hidden;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore .card img {
    width: 100%;
    height: 100%;
}

.explore .card .desc {
    padding: 0% 5%;
    font-family: var(--fonte-figtree);
    font-weight: 400;
    font-size: 22px;
    text-align: center;
}


.explore .area-carros {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
}

.explore .area-carros img {
    width: 1300px;
    margin-right: -390px;
    margin-bottom: -150px;
}


/*Descubra*/
.descubra .container {
    width: 100%;
    background-color: var(--cinza-medio);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
    overflow: hidden;
}

.descubra .card-horizontal {
    width: 550px;
    height: 275px;
    margin: 10px;
    overflow: hidden;
    border-radius: 20px;
}

.descubra .card-vertical {
    width: 430px;
    height: 650px;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;
}

.descubra .explore-carro {
    background-image: url(./src/eventos/explore-carro.png);
    background-size: cover;
}

.descubra .explore-eventos {
    background-image: url(./src/eventos/explore-eventos.png);
    background-size: cover;
}

.descubra .explore-filme {
    background-image: url(./src/eventos/explore-filme.png);
    background-size: cover;
}

.descubra .explore-jogos {
    background-image: url(./src/eventos/explore-jogos.png);
    background-size: cover;
}

.descubra .card {
    transition: .6s;
}

.descubra .card .filtro {
    width: 100%;
    height: 100%;
    background-color: #151617e3;
    padding: 2% 5%;
    color: #fff;
    transition: .6s;
}

.descubra .card .filtro h2 {
    font-family: var(--fonte-anton);
    font-weight: 300;
    font-size: 35px;
}

.descubra .card-vertical {
    text-align: end;
}

.descubra .card:hover {
    scale: 1.01;
}

.descubra .card .filtro:hover {
    background-color: transparent;
    cursor: pointer;
}

/*Conecte-se*/
.conecte-se .logos {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.conecte-se .logos img {
    width: 200px;
    filter: grayscale(100%);
    transition: .5s;
}

.conecte-se .logos img:hover {
    filter: grayscale(0%);
}

.conecte-se .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3% 0%;
    justify-content: space-evenly;
}

.conecte-se .card {
    display: flex;
    width: 450px;
    height: 175px;
    border-radius: 20px;
    background-color: var(--cinza-claro-1);
}

.conecte-se .card .img-card {
    width: 25%;
    padding: 3% 2%;
}

.conecte-se .card img {
    border-radius: 50%;
    width: 100%;
}

.conecte-se .card .infos-card {
    width: 70%;
    padding: 3% 2%;
    font-family: var(--fonte-figtree);
}

.conecte-se .card .infos-card {
    font-size: 24px;
}

.conecte-se .card .infos-card h1 {
    margin: 5%;
    font-size: 24px;
}

.conecte-se .card .gr-logo {
    position: absolute;
    z-index: 0;
    width: 60px;
    border-radius: 0;
    margin-left: 250px;
    margin-top: -20px;
}

.conecte-se .card .gr-logo-meio {
    margin-top: -50px;
}

/*Contato*/
.contato .efeito {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.contato .efeito img {
    height: 100%;
}

.contato .container {
    position: absolute;
}

.contato .area-fomulario {
    width: 50%;
    height: 100%;
    padding: 2% 2%;
}

.contato .area-fomulario fieldset {
    border-radius: 10px;
    border: solid 2px;
}

.contato .area-fomulario legend {
    font-family: var(--fonte-anton);
    font-size: 30px;
}

.contato .area-fomulario .linha {
    display: flex;
    flex-direction: column;
    margin: 1% 0%;
}

.contato .area-fomulario label {
    font-family: var(--fonte-anton);
    font-size: 24px;
}

.contato .area-fomulario input {
    padding: 1% 2%;
    font-family: var(--fonte-figtree);
    font-size: 18px;
    background-color: var(--cinza-claro-1);
    border: none;
}

.contato .area-fomulario textarea {
    width: 100%;
    height: 150px;
    font-family: var(--fonte-figtree);
    font-size: 18px;
    background-color: var(--cinza-claro-1);
    border: none;
    resize: none;
}

.contato .area-fomulario .enviar {
    display: flex;
    justify-content: end;
    margin-top: 2%;
}

.contato .area-fomulario button {
    font-family: var(--fonte-bebas);
    font-size: 30px;
    font-weight: 200;
    background-color: var(--cinza-claro-1);
    border: none;
    padding: 0% 10%;
    border-radius: 5px;
    transition: .5s;
}

.contato .area-fomulario button:hover {
    background-color: var(--cinza-claro-2);
    cursor: pointer;
}

#pop_up{
    position: absolute;
    background-image: url(./src/efeitos/gearup\ -\ efeito-claro.png);
    background-size: 150px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    width: 300px;
    height: 100px;
    border-radius: 5px;
    background-color: var(--cinza-claro-1);
    align-self: self-end;
    justify-self: end;
    margin: 35% 5% 0% 0%;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: var(--cinza-escuro-1);
    font-family: var(--fonte-bebas);
    align-items: center;
    display: none;
}

/*Footer*/
footer {
    width: 100%;
    height: 80vh;
    background-color: var(--cinza-escuro-2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

footer .efeito {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

footer .efeito img {
    width: 1000px;
    margin-right: -50px;
    margin-top: 10px;
}

footer .container {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: end;
    padding: 2%;
}

footer .container .meio {
    border: solid var(--cinza-claro-1);
    color: #FFF;
    border-left: 2px;
    border-right: 2px;
    height: 70%;
    display: flex;
    font-family: var(--fonte-bebas);
    font-weight: 300;
}

footer .logo {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1% 3%;
    font-size: 20px;
}

footer .links-container {
    width: 70%;
    height: 100%;
    display: flex;
    padding-top: 5%;
    padding-left: 5%;
}

footer .links-container .coluna {
    padding: 0% 1%;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

footer h3 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

footer a {
    font-size: 25px;
    font-family: 300;
    color: var(--cinza-claro-1);
    text-decoration: none;
    outline: none;
    transition: .4s;
}

footer a:hover {
    color: var(--cinza-claro-2)
}

footer .copy {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--cinza-claro-1);
}

footer .copy p {
    font-family: var(--fonte-figtree);
    font-weight: 400;
}

/*Animação*/
@keyframes animation-logo{
    0%{
        width: 0px;
    }
    100%{
        width: 150px;
    }
}