/*Variaveis de cor*/
:root {
    --cinza-color: #363636;
    --cinza-claro-1: #D9D9D9;
    --cinza-claro-2: #7A7A7A;
    --cinza-medio: #4F4F4F;
    --cinza-escuro-1: #202223;
    --cinza-escuro-2: #151617;
    --cinza-escuro-nav: #303030;
    --fonte-figtree: "Figtree", sans-serif;
    --fonte-bebas: "Bebas Neue", sans-serif;
    --fonte-anton: "Anton", sans-serif;
}

/*Padroes para tela*/
* {
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.container-principal{
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.menu-lateral{
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--cinza-escuro-1);
    display: flex;
    flex-direction: column;
    padding: 2% 1%;
    justify-content: space-between;
    align-items: center;
}
.menu-lateral .logo{
    width: 100%;
    height: 25%;  
}

.menu-lateral .logo a{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral img{
    width: 90%;
}

.menu-lateral .area-links{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}


.container{
    width: 80%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--cinza-escuro-2);
}