/*Variaveis de cor*/
:root {
    --cinza-color: #363636;
    --cinza-claro-1: #D9D9D9;
    --cinza-claro-2: #7A7A7A;
    --cinza-medio: #4F4F4F;
    --cinza-escuro-1: #202223;
    --cinza-escuro-2: #151617;
    --cinza-escuro-nav: #303030;
    --fonte-figtree: "Figtree", sans-serif;
    --fonte-bebas: "Bebas Neue", sans-serif;
    --fonte-anton: "Anton", sans-serif;
}

/*Padroes para tela*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container-principal {
    width: 100vw;
    min-height: 100vh;
    display: flex;
}

.menu-lateral {
    position: sticky;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: var(--cinza-escuro-1);
    display: flex;
    flex-direction: column;
    padding: 0% 1%;
    justify-content: space-between;
    align-items: center;
}

.menu-lateral .logo {
    width: 100%;
    height: 25%;
}

.menu-lateral .logo a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-lateral img {
    width: 90%;
}

.menu-lateral .area-links {
    width: 100%;
    height: 45%;
}

.menu-lateral .links {
    width: 100%;
    height: 50px;
    margin-bottom: 2vh;
}

.menu-lateral .links a {
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    border-radius: 5px;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    color: WHite;
    text-decoration: none;
    font-family: var(--fonte-figtree);
    font-size: 20px;
    transition: .5s;
}

.menu-lateral .links .menu-icons {
    width: 35px;
    margin-right: 1vw;
    margin-left: 1vw;
}

.menu-lateral .links a:hover {
    background-color: var(--cinza-color);
}

.menu-lateral .links .selecionado {
    background-color: var(--cinza-color);
}

.menu-lateral .links .selecionado:hover {
    background-color: var(--cinza-claro-2);
}

.menu-lateral .menu-img {
    background-color: var(--cinza-claro-1);
    border-radius: 100%;
    width: 50px;
    margin-right: 1vw;
}

.menu-lateral .area-sair {
    width: 100%;
    height: 30%;
    padding: 10% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-lateral .links button {
    width: 100%;
    height: 100%;
    padding: 1% 2%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: none;
    color: WHite;
    font-family: var(--fonte-figtree);
    font-size: 20px;
    transition: .5s;
    background-color: transparent;
}

.menu-lateral .links button:hover {
    background-color: var(--cinza-color);
    cursor: pointer;
}

.container {
    width: 80%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--cinza-escuro-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 2%;
}

.card {
    width: 600px;
    height: 500px;
    background-color: var(--cinza-claro-1);
}

/* Perfil */
.container-perfil {
    width: 80%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--cinza-escuro-2);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte-figtree);
}

.container-perfil .banner {
    width: 100%;
    height: 200px;
    background-image: url(../src/efeitos/banner-carro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 68, 255);
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 2% 0%;
}

.container-perfil .banner .aba {
    font-family: var(--fonte-figtree);
    font-size: 20px;
    padding: 5px 10px;
    margin: 0px 10px;
    border-radius: 5px;
    color: black;
    background-color: rgba(220, 220, 220, 0.863);
    backdrop-filter: blur(2px);
    transition: .6s;
}

.container-perfil .banner .aba:hover {
    background-color: rgba(180, 180, 180, 0.863);
    cursor: pointer;
}

.container-perfil .perfil {
    width: 100%;
    height: 350px;
    display: flex;
    padding: 1% 5%;
}

.container-perfil .img-perfil {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1% 1%;
}

.container-perfil .img-perfil .img-usuario-perfil {
    width: 225px;
    height: 225px;
    border-radius: 100%;
    background-color: var(--cinza-claro-2);
}

.container-perfil .infos-perfil {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 2%;
    color: white;
}

.container-perfil .infos-perfil h1 {
    font-size: 35px;
}

.container-perfil .infos-perfil h3 {
    font-size: 25px;
}

.container-perfil .infos-perfil p {
    font-size: 20px;
}

.container-perfil .container-postagens {
    width: 100%;
    min-height: 150px;
    padding: 1% 5%;
}

.container-perfil .container-postagens .legendas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-bottom: 5vh;
}

.container-perfil .legendas .add {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--cinza-color);
    display: flex;
    align-items: center;
    justify-content: center;

}

.container-perfil .container-postagens .area-postagens {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#perfil_geral {
    display: flex;
    flex-direction: column;
}

.perfil-estatisticas {
    display: none;
    flex-direction: row;
    width: 100%;
    height: 500px;
}

.perfil-estatisticas .area-graficos {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1% 2%;
}

.perfil-estatisticas .area-kpis {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil-estatisticas .area-kpis .kpis {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-claro-2);
    border-radius: 10px;
    justify-content: space-evenly;
    padding: 5% 5%;
}

.perfil-estatisticas .area-kpis .linha {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    padding: 5% 5%;
}

.perfil-estatisticas .area-kpis .linha p {
    text-align: center;
}

.perfil-estatisticas .area-kpis .tracos {
    width: 100%;
    height: 2px;
    background-color: white;
}

.modal-add-poster{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    display: none;
    position: absolute;

}