/* cores */
:root {
    --cinza-color: #363636;
    --cinza-claro-1: #D9D9D9;
    --cinza-claro-2: #7A7A7A;
    --cinza-medio: #4F4F4F;
    --cinza-escuro-1: #202223;
    --cinza-escuro-2: #151617;
    --cinza-escuro-nav: #303030;
    --fonte-figtree: "Figtree", sans-serif;
    --fonte-bebas: "Bebas Neue", sans-serif;
    --fonte-anton: "Anton", sans-serif;
}

/*Padroes para tela*/
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../src/efeitos/gearup\ -\ effect.png);
    background-size: 1000px;
    background-position: right;
    background-position-y: -60px;
    background-repeat: no-repeat;
    background-color: var(--cinza-escuro-2);
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 70%;
    height: 80%;
    display: flex;
    background-color: #d9d9d9b1;
    border-radius: 20px;
    overflow: hidden;
}

.card .banner {
    width: 45%;
    height: 100%;
}

.card .banner-login {
    background-image: url(../src/acessos/image\ 28.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card .banner-cad {
    background-image: url(../src/acessos/image\ 31.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card .banner div {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.card .banner a {
    padding: 5px 10px;
    transition: .6s;
    border-radius: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.card .banner a:hover {
    background-color: #efefef5b;
}


.card .banner img {
    width: 30px;
}

.card .banner span {
    font-family: var(--fonte-bebas);
    font-size: 20px;
    color: white;
}

.card .form {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 2%;
    justify-content: space-between;
}

.card .login .titulos {
    height: 25%;
    display: flex;
    padding: 5% 0%;
}

.card .form h1 {
    color: black;
    font-size: 35px;
    font-family: var(--fonte-bebas);
    font-weight: 400;
    text-align: center;
}

.card .login .forms {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.card .form .linha {
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0% 2%;
    margin-bottom: 2%;
}

.card .form .linha-radio {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    padding: 0% 2%;
    margin-bottom: 2%;
}

.card .form input {
    width: 100%;
    height: 35px;
    padding: 1% 2%;
    font-size: 18px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

.card .form #ipt_continuar {
    background-color: red;
    width: 20px;
    border-radius: 0;
    margin: 0% 2%;
}

.card .form label {
    font-size: 22px;
    font-family: var(--fonte-anton);
    color: black;
}

.botoes-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enviar {
    width: 70%;
    height: 35px;
    margin-bottom: 1vh;
    color: black;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-family: var(--fonte-anton);
    transition: .6s;
}

.google {
    width: 50%;
    height: 45px;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    border: none;
    border-radius: 0px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.492);
    font-size: 16px;
    font-family: var(--fonte-figtree);
    transition: .6s;
}

.google img {
    width: 30px;
    margin-right: 20px;
}

.enviar:hover {
    background-color: var(--cinza-claro-1);
    cursor: pointer;
}

.google:hover {
    background-color: var(--cinza-claro-1);
    cursor: pointer;
}

.card .login .links {
    height: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 0%;
}

.card .form a {
    color: black;
    font-family: var(--fonte-figtree);
    margin: 3px;
    text-decoration: none;

}

.card .form a>span {
    font-weight: 900;
    color: var(--cinza-escuro-1)
}

.card .form .esqueci-senha {
    text-decoration: underline;
}



/*Cadastro*/
.card-cad {
    width: 70%;
    height: 85%;
    display: flex;
    background-color: #d9d9d9b1;
    border-radius: 20px;
    overflow: hidden;
}

.card .cad .titulos {
    height: 10%;
    display: flex;
    padding: 2% 0%;
}

.card .cad .forms {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.card .cad .links {
    height: 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 0%;
}